.bg-transparent {
    position: relative;
    padding: 100px 0;
}
.bg-transparent::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    background-image: url(PC100240.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.toumei{
    background-color: rgba(255, 255, 255, 0.562);
}

title{
    font-family: "Hiragino Maru Gothic Pro";
}

h2{
    font-family: "Hiragino Maru Gothic Pro";
}

h3{
    font-family: "Hiragino Maru Gothic Pro";
}

.bg_test-text {
    text-align:  center;    /* 文字中央寄せ */
    display:  inline-block;                         /* インラインブロックにする */
    padding: 10px 20px;                             /* 余白指定 */
    background-color: rgba(255, 255, 255, 0.7);     /* 背景色指定 */
}
